* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content-left {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.content-dash {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.bx_container {
    width: 50%;
    height: 100%;
    overflow: auto;
}

.bx_container::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none !important;
}

.Forms {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.form-label-requerid {
    color: #A60303;
    margin-left: .5rem;
    font-size: .8rem;
}

.Forms>.double {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Forms>.double>div {
    width: 49%;
}

.forms-bardivisa {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    margin: 1rem 0;
}


.forms-bardivs{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.forms-bardivs > .text{
    font-size: .8rem;
    width: 40%;
    margin-right: 1rem;
    color: #7a7a7a;
}

.divs,.divsr{
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    transition: all .2s;
}

.clickAdd{
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 100%;
    padding: .1rem .2rem;
    color: #020659;
    transition: all .2s;
}

.clickRemove{
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 100%;
    padding: .1rem .2rem;
    color: #020659;
    transition: all .2s;
}

.forms-bardivs:hover > .divs{
    border-bottom: 2px solid #020659;
}

.forms-bardivs:hover > .clickAdd{
    background-color: #020659;
    color: #f0f0f0;
}

.forms-bardivs:hover > .divsr{
    border-bottom: 2px solid #BF0436;
}

.forms-bardivs:hover > .clickRemove{
    background-color: #BF0436;
    color: #f0f0f0;
}



@media only screen and (max-width: 1024px) {
    .bx_container {
        width: 100%;
    }
    .Forms>.double {
        flex-direction: column;
    }
    .Forms>.double>div {
        width: 100%;
    }
    .forms-bardivs > .text{
        width: 80%;
    }
}