.viewer {
    border: none;
    padding: 1rem;
}

.paper,
#paperPDF{
    display: flex;
}

.paper .left{
    width: 40%;
}

.paper .right{
    width: 100%;  
}

.right{
    padding-left:0 !important;
}

.paper .left,
.paper .right{
    padding: 1rem;
    font-size: .8rem;
}

.left{
    background-color: #767676;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    background-color: #fff;
    color:#000;
    display: flex;
    flex-direction: column;
}

.paper .left > img,
.paper .left > .info{
    width: 100%;
}

.paper .left > img {
    border-radius: 100%;
    margin-bottom: 2rem;
}

.left > .info,
.right > .info {
    border-top: 2px solid #565656;
}

.paper .left > .info{
    padding: 1rem 0;
}

.paper .left > .info > h5,
.paper .right > .info > h5,
.paper .left > .info > p > span,
.paper .right > .infoHeader > p > strong > span {
    font-size: 1rem;
}

.left > .info > p,
.right > .infoHeader > p,
.right > .info > div > .desc{
    display: flex;
    align-items: center;
    text-align: justify;
}

.paper .right > .firstName,
.paper .right > .lastName,
.paper .right > .infoHeader,
.paper .right > .info{
    padding-left: 1rem !important;
}

.right > .firstName,
.right > .info > h5{
    color: #565656;
}

.paper .right > .firstName{
    font-size: 4rem;
}

.paper .right > .lastName{
    font-size: 2rem;
}

.paper .right > .infoHeader,
.paper .right > .info {
    width: 100%;
    padding: 1rem 0;
}

.right > .infoHeader > div{
    display: flex;
    justify-content: space-between;
}

.paper .right > .info > div{
    margin: 1rem 0;
}


/* paperPDFF */

#paperPDF{
    width: 793.707px;
    height: 1122.52px;
}

#paperPDF .left{
    width: 317.482px;
}

#paperPDF .right{
    width: 793.707px;  
}

#paperPDF .left,
#paperPDF .right{
    padding: 15.694px;
    font-size: 12.56px;
}

#paperPDF .left > img,
#paperPDF .left > .info{
    width: 100%;
}


#paperPDF .left > img {
    border-radius: 100%;
    margin-bottom: 31.388px;
}

#paperPDF .left > .info{
    padding: 15.694px 0;
}

#paperPDF .left > .info > h5,
#paperPDF .right > .info > h5,
#paperPDF .left > .info > p > span,
#paperPDF .right > .infoHeader > p > strong > span {
    font-size: 15.694px;
}

#paperPDF .right > .firstName,
#paperPDF .right > .lastName,
#paperPDF .right > .infoHeader,
#paperPDF .right > .info{
    padding-left: 15.694px !important;
}

#paperPDF .right > .firstName{
    font-size: 63.176px;
}

#paperPDF .right > .lastName{
    font-size: 31.588px;
}

#paperPDF .right > .infoHeader,
#paperPDF .right > .info {
    width: 100%;
    padding: 15.694px 0;
}

#paperPDF .right > .info > div{
    margin: 15.694px 0;
}