.bl-container {
    padding: 1rem 0;
    background-color: #020659;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s;
}

.bl-logo {
    padding: 1rem .5rem;
    cursor: pointer;
    img {
        width: 50px;
        height: auto;
    }

    h2 {
        font-size: 1rem;
        color: #fff;
    }
}

.bl-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: all .2s;
}

.bl-menu::-webkit-scrollbar {
    display: none;
}

.bl-menu li {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
}

.bl-menu li>div {
    padding: .2rem .4rem;
    margin-right: .5rem;
    border-radius: .3rem;
    background-color: #0c1073;
}

.bl-menu li>div>span {
    color: #bbb;
}

.bl-menu li.ativa {
    background-color: #0c1073;
}

.bl-menu li.ativa>div {
    background-color: #BF0436;
}

.bl-menu li.ativa>div>span {
    color: #fff;
}

.bl-menu li:hover>div>span {
    color: #fff;
}

.bl-menu li>p{
    color: #fff;
    display: inline;
    font-size: .9rem;
}

@media only screen and (max-width: 1280px) {
    .bl-menu li>p{
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .bl-menu li {
        padding: 1rem 0;
        justify-content: center;
    }
    .bl-menu li>div {
        margin:0;
    }
    .bl-menu li>p{
        display: none;
    }
}