.Forms > .double{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Forms > .double > div{
    width: 49%;
}

.forms-bardivisa{
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
    margin: 1rem 0;
}

@media only screen and (max-width: 1024px) {
    .Forms > .double{
        flex-direction: column;
    }
    .Forms > .double > div{
        width: 100%;
    }
}