.form-image{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.form-image > label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-image > div{
    display: flex;
    border: .1rem solid #ddd;
    color:#767676;
    padding: 1rem .5rem;
    border-radius: .3rem;
    margin-top: .2rem;
}

.form-image > div > input{
    margin-left: .5rem;
    font-size: 1rem;
    outline: none;
    width: 80%;
}

.form-image > div > img{
    width: 20%;
    height: auto;
    border-radius: .3rem;
}